In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix



from sklearn.ensemble import VotingClassifier

In [ ]:
# loding data
heart_data = pd.read_csv('/content/heart.csv')

In [ ]:
# print first five rows of data set
heart_data.head()

,age,sex,chest pain,trestbps,cholestoral,fasting blood sugar,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [ ]:
# last five rows
heart_data.tail()

,age,sex,chest pain,trestbps,cholestoral,fasting blood sugar,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [ ]:
# no of rows and collum in data set
heart_data.shape

(1025, 14)

In [ ]:
# checking for missing values for missing data we can use methods like computations
heart_data.isnull().sum()

age                    0
sex                    0
chest pain             0
trestbps               0
cholestoral            0
fasting blood sugar    0
restecg                0
thalach                0
exang                  0
oldpeak                0
slope                  0
ca                     0
thal                   0
target                 0
dtype: int64

In [ ]:
# getting data info
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  1025 non-null   int64
 1   sex                  1025 non-null   int64
 2   chest pain           1025 non-null   int64
 3   trestbps             1025 non-null   int64
 4   cholestoral          1025 non-null   int64
 5   fasting blood sugar  1025 non-null   int64
 6   restecg              1025 non-null   int64
 7   thalach              1025 non-null   int64
 8   exang                1025 non-null   int64
 9   oldpeak              1025 non-null   float64
 10  slope                1025 non-null   int64
 11  ca                   1025 non-null   int64
 12  thal                 1025 non-null   int64
 13  target               1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [ ]:
# statistical measure of data
heart_data.describe()

,age,sex,chest pain,trestbps,cholestoral,fasting blood sugar,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [ ]:
# checking the distribution of target variable how many have disease or not
heart_data['target'].value_counts()

1    526
0    499
Name: target, dtype: int64

In [ ]:
# spliting the feature and target
x = heart_data.drop(columns = 'target' , axis = 1)
y = heart_data['target']

In [ ]:
print(x)

      age  sex  chest pain  trestbps  cholestoral  fasting blood sugar  \
0      52    1           0       125          212                    0
1      53    1           0       140          203                    1
2      70    1           0       145          174                    0
3      61    1           0       148          203                    0
4      62    0           0       138          294                    1
...   ...  ...         ...       ...          ...                  ...
1020   59    1           1       140          221                    0
1021   60    1           0       125          258                    0
1022   47    1           0       110          275                    0
1023   50    0           0       110          254                    0
1024   54    1           0       120          188                    0

      restecg  thalach  exang  oldpeak  slope  ca  thal
0           1      168      0      1.0      2   2     3
1           0      155      1      3.1      0   0     3
2           1      125      1      2.6      0   0     3
3           1      161      0      0.0      2   1     3
4           1      106      0      1.9      1   3     2
...       ...      ...    ...      ...    ...  ..   ...
1020        1      164      1      0.0      2   0     2
1021        0      141      1      2.8      1   1     3
1022        0      118      1      1.0      1   1     2
1023        0      159      0      0.0      2   0     2
1024        1      113      0      1.4      1   1     3

[1025 rows x 13 columns]

In [ ]:
print(y)

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [ ]:
# spliting the data into tranning data and testing data

x_train,x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state = 2)

In [ ]:
print(x.shape, x_train.shape, x_test.shape)

(1025, 13) (820, 13) (205, 13)

In [ ]:
# logreg = LogisticRegression()
# dt = DecisionTreeClassifier()
# rf = RandomForestClassifier()
# gb = GradientBoostingClassifier()

# # create the ensemble model
# model = [('logreg', logreg), ('dt', dt), ('rf', rf), ('gb', gb)]
# ensemble = VotingClassifier(estimators=model)

# # train the ensemble model on the training set
# ensemble.fit(x_train, y_train)

# # predict on the test set
# y_pred = ensemble.predict(x_test)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
# model training logistic regression

#model = LogisticRegression()

model = [
    LogisticRegression(),
    DecisionTreeClassifier(),
    RandomForestClassifier(),
    GradientBoostingClassifier()
]

In [ ]:
# train model using fit
for model in model:
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)

#model.fit(x_train, y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
print(model.__class__.__name__)
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Precision:', precision_score(y_test, y_pred))
print('Recall:', recall_score(y_test, y_pred))
print('F1 score:', f1_score(y_test, y_pred))
print('Confusion matrix:', confusion_matrix(y_test, y_pred))
print()

GradientBoostingClassifier
Accuracy: 0.9853658536585366
Precision: 0.9903846153846154
Recall: 0.9809523809523809
F1 score: 0.985645933014354
Confusion matrix: [[ 99   1]
 [  2 103]]

In [ ]:
# model evaluation accuracy score

## accuracy on train data
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [ ]:
print('accuracy  of training data : ', training_data_accuracy)

accuracy  of training data :  0.9878048780487805

In [ ]:
## accuracy on test data data
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)

print('accuracy of test data : ', test_data_accuracy)

accuracy of test data :  0.9853658536585366

Bulding a predictive model

In [ ]:
input_data = [58,1,0,114,318,0,2,140,0,4.4,0,3,1]

# change data into numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy arrary as we are predictiong one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)


prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
  print('The person doesnot have heart disease')
else:
  print('the person has heart disease')

[0]
The person doesnot have heart disease

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but GradientBoostingClassifier was fitted with feature names
  warnings.warn(

In [ ]:
import numpy as np

# get input data from user
input_data = input("Enter comma-separated values: ")

# convert input data into numpy array of floats
input_data_as_numpy_array = np.fromstring(input_data, dtype=float, sep=',')

# reshape the numpy arrary as we are predicting one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

# make prediction
prediction = model.predict(input_data_reshaped)

# print result
if prediction == 0:
    print('The person does not have heart disease')
else:
    print('The person has heart disease')

Enter comma-separated values: 58,1,0,114,318,0,2,140,0,4.4,0,3,1
The person does not have heart disease

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but GradientBoostingClassifier was fitted with feature names
  warnings.warn(

In [ ]:
import pickle

filename = 'heart_model.sav'
pickle.dump(model, open(filename, 'wb'))

loaded_model = pickle.load(open('heart_model.sav', 'rb'))

for column in x.columns:
  print(column)

age
sex
chest pain
trestbps
cholestoral
fasting blood sugar
restecg
thalach
exang
oldpeak
slope
ca
thal